{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
	<h1>About the baseball score book web application</h1>
</div>
<p class="lead">This web application is under development to provide following features.</p>
<p>
	<li>User Registration</li>
	<li>Team Registration</li>
	<li>Player Registration</li>
	<li>Record Game</li>
	<li>Record Score and Plays</li>
	<li>Display Statistics Report</li>
	<li>Display Box Score</li>
	<li>Team Statistics</li>
	<li>Player Statistics</li>
</p>

{% endblock %}
